/*************************************/
/* ************ SETTING ************ */
/*************************************/
/* ? hader: z-index: 5; */
/* ? modal: z-index: 3; */

@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-display: optional
}
:root{
    --color-primary: #BA7D68;
    --color-secondary: #E7C6B9;
    --color-white: #fff;
    --color-text: #000;
    --color-input: #495057;
    --font-size-sm: 1.5vw;
    --font-size-md: 2.5vw;
    --font-size-lg: 5.5vw;
    --font-family: 'Abhaya Libre';
    --font-family-ct: 'Roboto';
}
.hover:hover{
    animation: slidein 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
}
.btn.focus, .btn:focus, .btn:hover {
    color: var(--color-white);
    box-shadow: none;
    border: none;
}
@keyframes slidein{
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(3px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(-3px);
    }
    100%{
        transform: translateY(0px);
    }
}
p {
    margin: 0;
}


/************************************/
/* ************ HEADER ************ */
/************************************/
.header-books{
    width: 100vw;
    padding: 2vw 12vw;
    position: fixed;
    z-index: 5;
    transition: padding 0.5s;
}
.header-books.header-max{
    height: 40vh;
}
.icon-social {
    width: 5vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-books{
    width: 100%;
    height: 6vw;
    display: flex;
}
.nav-books-left{
    width: 80%;
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: border-radius 0.5s;
    border-radius: 10px 0 0 10px;
}
.container-logo{
    width: 30%;
    padding-left: 5%;
}
.logo-books img {
    width: 4.5vw;
    height: 4.5vw;
    cursor: pointer;
}
.container-ctn{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-books-right{
    width: 20%;
    background: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: border-radius 0.5s;
    border-radius: 0 10px 10px 0;
}
.books-btn{
    font-size: var(--font-size-sm);
    font-family: var(--font-family-ct);
    font-style: normal;
    cursor: pointer;
}
.btn-Primary{
    color: var(--color-white);
    width: 25%;
    text-align: center;
}
.btn-Secondary{
    color: var(--color-white);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-ct);
    font-style: normal;
    cursor: pointer;
}
.btn-Secondary:hover{
    color: var(--color-primary);
}
.ico-cart img,
.icon-user img{
    width: 2.5vw;
    height: 2.5vw;
    cursor: pointer;
}
.change{
    transition: padding 0.5s;
    padding: 0vw 12vw;
}
.changeR{
    transition: border-radius 0.5s;
    border-radius: 0 0 10px 0;
}
.changeL{
    transition: border-radius 0.5s;
    border-radius: 0 0 0 10px;
}
.select-category{
    color: var(--color-text);
}
.logo-user {
    transition: transform 0.5s;
}
.subMenuGrap {
    position: absolute;
    width: 12vw;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    border-radius: 10px;
    transition: height 0.2s;
    padding-top: 0;
    letter-spacing: 0;
}
.subMenuGrapUser {
    position: absolute;
    left: 73%;
    width: 7.3vw;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: height 0.2s;
}
.subMenuGrapUser.Open_option{
    height: 9vw;
    padding-top: 2.7vh;
}
.subMenuGrapUser.Open_option::before{
    content: url("../assets/icon/triangle.svg");
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 1.9vw;
    top: 0vw;
}
.subMenuGrap.Open_option{
    height: 13vw;
    padding-top: 2.7vh;
}
.subMenuGrap.Open_option::before{
    content: url("../assets/icon/triangle.svg");
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    top: 0vw;
}
.subMenu {
    font-family: var(--font-family-ct);
    position: relative;
    background: rgba(231, 198, 185, 0.9);
    padding: 1%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: color, transform 0.5s;
}
.menuItem{
    overflow: hidden;
    font-size: 1.2vw;
}
.menuItem:hover{
    color: var(--color-primary);
}
.books-btn {
    letter-spacing: 0;
    transition: letter-spacing 0.2s;
}
.books-btn:hover,
.books-btn:active {
    letter-spacing: 3px;
}
#icon-cart::before {
    content: attr(data-content);
    text-align: center;
    background: #fff;
    position: absolute;
    border: 1px solid var(--color-primary);
    font-family: var(--font-family);
    color: var(--color-primary);
    width: 1.1vw;
    height: 1.1vw;
    border-radius: 50px;
    top: 3.5vw;
    right: 14.5vw;
}
/* .books-btn:after,
.books-btn:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}
.btn-Primary:hover:after,
.btn-Primary:hover:before {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-color: var(--color-white);
    transition: width 350ms ease-in-out;
    width: 70%;
}
.books-btn:hover:before {
    bottom: auto;
    top: 0;
    width: 70%;
} */

/**********************************/
/* ************ HOME ************ */
/**********************************/
.Section{
    min-height: 100vh;
}
.section-home{
    background-image: url('../assets/icon/bg.svg');
    background-size: cover;
    background-position: bottom;
    display: flex;
}
.social-media {
    display: flex;
    justify-content: space-between;
    width: 28%;
    padding-left: 12%;
    position: relative;
    height: 85vh;
    align-items: end;
}
.icon-social img {
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}
.lottie-circle{
    position: absolute;
    bottom: 0;
    right: 0;
}
.lottie-circle::before{
    content: "";
    background-color: var(--color-secondary);
    width: 2.2%;
    height: 2.2%;
    position: absolute;
    bottom: 49%;
    right: 48.8%;
    border-radius: 50px;
}
.abook {
    width: 22%;
    height: 84vh;
    display: flex;
    align-items: end;
    justify-content: center;
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    color: var(--color-white);
    z-index: 1;
    cursor: pointer;
    padding-right: 6%;
}
.container-home-title {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.home-title{
    font-size: 4vw;
    color: var(--color-white);
    font-family: var(--font-family);
}

/***********************************/
/* ************ About ************ */
/***********************************/
.container-title {
    width: 100%;
    padding-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-title::before {
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 37%;
    height: 0.3%;
    left: 0;
}
.container-title::after {
    content: "";
    position: absolute;
    background: var(--color-primary);
    width: 37%;
    right: 0;
    height: 0.3%;
}
.header-title{
    color: var(--color-primary);
    font-size: var(--font-size-lg);
    font-family: var(--font-family);
}
.lottie-about-sm,
.lottie-about-lg {
    position: absolute;
}
.lottie-about-sm::before, .lottie-about-lg::before{
    content: "";
    background-color: var(--color-secondary);
    width: 2.2%;
    height: 2.2%;
    position: absolute;
    bottom: 49%;
    right: 48.8%;
    border-radius: 50px;
}

/***********************************/
/* ************ ABOUT ************ */
/***********************************/
.about-container{
    padding: 3% 20% 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-sm);
    color: var(--color-text);
}
.ctn-img {
    position: absolute;
    width: 100%;
}
.about-img {
    display: flex;
    justify-content: end;
    position: relative;
    top: -5vw;
    z-index: 2;
}
.about-img img {
    width: 27vw;
    height: 27vw;
}

/**************************************/
/* ************ CATEGORY ************ */
/**************************************/
#section-category{
    height: auto;
}
.container-gallery{
    padding: 0 20vw;
}
.hover_img:hover{
    filter: drop-shadow(0px 4px 4px rgba(186, 125, 104, 0.5));
    opacity: 0.6;
    cursor: pointer;
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    color: var(--color-white);
    font-style: oblique;
    letter-spacing: 2px;
}
.img1:hover::before {
    content: "Ciencia Ficción";
    position: absolute;
    z-index: 4;
    left: 5.5vw;
    bottom: 12vh;
}
.img1:hover::after {
    content: "";
    position: absolute;
    z-index: 4;
    left: 5.5vw;
    bottom: 12vh;
}
.img2:hover::after {
    content: "Fantasía";
    position: absolute;
    z-index: 4;
    left: 4.5vw;
    bottom: 12vh;
}
.img3:hover::after {
    content: "Histórico";
    position: absolute;
    z-index: 4;
    left: 4.5vw;
    bottom: 12vh;
}
.img4:hover::after {
    content: "Terror";
    position: absolute;
    z-index: 4;
    left: 5.5vw;
    bottom: 12vh;
}
.img5:hover::after {
    content: "Romance";
    position: absolute;
    z-index: 4;
    left: 4.5vw;
    bottom: 12vh;
}
.mb-4, .my-4 {
    margin-bottom: 3rem!important;
}

/***************************************/
/* ************ CARROUSEL ************ */
/***************************************/
.cta-100 {
    /* margin-top: 100px; */
    padding-top: 2%;
}
.col-md-4{
    padding-bottom:20px;
}
.mt{float: left;margin-top: -20px;padding-top: 20px;}
.bg-blue-ui {
    background-color: #708198 !important;
}
#blogCarousel {
    padding-bottom: 10px;
}
.blog .carousel-indicators {
    left: 0;
    bottom: 0;
    z-index: 1 !important;
}
.blog .carousel-indicators li {
    background: #708198;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}
.blog .carousel-indicators .active {
    background: var(--color-primary);
}
.item-carousel-blog-block {
    outline: medium none;
    /* padding: 15px; */
}
.item-box-blog {
    border: 1px solid #dadada;
    text-align: center;
    z-index: 4;
    padding: 20px;
}
.item-box-blog-image {
    position: relative;
    padding-top: 5%;
}
.item-box-blog-image figure img {
    width: 20vw;
    height: 20vw;
    object-fit: contain;
}
.item-box-blog-date {
    position: absolute;
    z-index: 5;
    padding: 4px 20px;
    top: -20px;
    right: 8px;
    background-color: #41cb52;
}
.item-box-blog-date span {
    color: #fff;
    display: block;
    text-align: center;
    line-height: 1.2;
}
.item-box-blog-body {
    padding: 10px;
}
.item-heading-blog a h5 {
    margin: 0;
    line-height: 1;
    text-decoration:none;
    transition: color 0.3s;
}
.item-box-blog-heading a {
    text-decoration: none;
}
.item-box-blog-text {
    max-height: 100px;
    overflow: hidden;
}
.mt-10 {
    float: left;
    margin-top: -10px;
    padding-top: 10px;
}
.btn.bg-blue-ui.white.read {
    cursor: pointer;
    padding: 4px 20px;
    float: left;
    margin-top: 10px;
}
.btn.bg-blue-ui.white.read:hover {
    box-shadow: 0px 5px 15px inset #4d5f77;
}
.text-tittle h5{
    font-family: var(--font-family);
    font-style: normal;
    font-size: var(--font-size-sm);
    color: var(--color-text);
}
.text-tittle h5:hover{
    color: var(--color-primary);
}
.text-price{
    font-family: var(--font-family);
    font-style: normal;
    font-size:1vw;
    color: var(--color-text);
    cursor: pointer;
}
.item-box-blog-body{
    display: flex;
    justify-content: space-evenly;
}
.white.read {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2vw;
    height: 3.2vw;
}
.shop-item-button {
    width: 2.5vw;
    height: 2.5vw;
    transition: 0.5s;
    cursor: pointer;
    transition: all 0.3s;
}
.white:hover{
    background: var(--color-secondary);
    border-radius: 50px;
}
.container {
    margin: auto;
    padding-bottom: 2%;
}
.item-box-blog-image figure::before{
    content: "";
    background-color: rgba(231, 198, 185, 0.93);
    position: absolute;
    height: 23vw;
    width: 13vw;
    z-index: -1;
    left: 23%;
    bottom: 10%;
}

/************************************/
/* ************ REVIES ************ */
/************************************/
.containerReviews {
    height: auto;
}
.reviews {
    height: 55vh;
    margin: 0 30vw;
}
.reviews::-webkit-scrollbar-thumb {
    background: var(--color-secondary);
    border-radius: 4px;
}
.reviews::-webkit-scrollbar {
    width: 0.6vw;
    height: 0.6vw;
    background: linear-gradient(90deg, rgba(255,255,255,1) 30%, var(--color-primary) 30%, var(--color-primary) 70%, rgba(255,255,255,1) 70%);
}
.testimonials .card {
    position: relative;
    width: 30vw;
    height: 26vh;
    overflow: hidden;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border: 2px solid var(--color-primary);
    border-radius: 0;
    margin-bottom: 3vh;
}
.testimonials .card .layer{
	position: absolute;
	top: 100%;
	width: 100%;
	height: 100%;
	left: 0;
	background: var(--color-secondary);
	z-index: 1;
	transition: 0.3s;
}
.testimonials .card:hover .layer{
	top: 0;
}
.testimonials .card .content{
	position:relative;
	z-index:2;
}
.testimonials .card .content p{
    font-size: 1vw;
    line-height: 24px;
    color: #000;
    font-family: var(--font-family-ct);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    overflow: hidden;
}
.testimonials .card .content .image{
	width:100px;
	height:100px;
	margin: 0 auto;
	border-radius:50%;
	overflow:hidden;
}
.testimonials .card .content .details h2{
	font-size: var(--font-size-sm);
    color:var(--color-text);
    font-family: var(--font-family);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.ContainerLeaveYour{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
.leave{
    border-radius: 10px !important;
    width: 20vw;
    height: 6vh;
    font-family: var(--font-family) !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerTittleLeaveY{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leaveYour{
    padding-top: 20vh;
    display: none;
    z-index: 25;
    position: fixed;
    top: 0;
    background: var(--color-white);
    height: 100%;
    width: 100%;
}
.textleaveYour{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    line-height: 96px;
    color: var(--color-primary);
}
.containerButtonC{
    display: flex;
    justify-content: end;
    padding-right: 15vw;
}
.displayBlock{
    display: block;
}
.container-confir{
    display: flex;
    text-align: center;
    justify-content: center;
}
h3.confirmation{
    font-family: var(--font-family);
    font-size: var(--font-size-lg);
    color: var(--color-primary);
}
#buttonC {
    display: flex;
    justify-content: end;
}

/****************************************/
/* ************ CONTACT US ************ */
/****************************************/
#section-contact {
    min-height: 90vh;
}
.contact {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgContact {
    width: 40vw;
}
.imgContact img{
    height: 100%;
    width: 90%;
}
.containerContact {
    display: flex;
    justify-content: center;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
}
.formCont{
    border: 2px solid var(--color-primary) !important;
    font-size: var(--font-size-sm);
    border-radius:0 !important;
    height: 100% !important;
}
.formColor:focus{
    box-shadow: none !important;
}
.containerSend{
    display: flex;
    justify-content: center;
}
.buttonSend {
    border: 2px solid var(--color-primary);
    border-radius: 0px;
    background: none;
    width: 9vw;
    height: 6vh;
    font-family: var(--font-family-ct);
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-sm);
    line-height: 61.5%;
    letter-spacing: -0.035em;
    color: var(--color-primary);
}
.help-block.with-errors {
    color: var(--color-primary);
    margin-top: 5px;
}

/************************************/
/* ************ FOOTER ************ */
/************************************/
.row-one-book {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border-top: 2px solid var(--color-primary);
    padding: 2vh 5vw;
    width: 75%;
    margin: auto;
}
.one-book-col{
    display:flex;
    align-items:center;
    justify-content: space-evenly;
}
.one-book-col div {
    cursor: pointer;
}
h3#copyright {
    text-align: center;
    font-family: var(--font-family-ct);
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    color: var(--color-white);
    margin: 1vh 0;
}
.col-inf, .direction{
    text-decoration: none;
    font-family: var(--font-family-ct);
    font-style: normal;
    font-weight: 400;
    font-size: 1vw;
    color: var(--color-text);
    padding-left: 5px;
}
.col-inf:hover{
    text-decoration: none;
    color: var(--color-text);
}
.col-svg img {
    width: 2vw;
    height: 2vw;
}
.row-two-book{
    background: var(--color-secondary);
}

/***********************************/
/* ************ Modal ************ */
/***********************************/
.open_modal{
	display: block;
}
.close_modal{
	display: none;
}
.register-section, .login-section{
    background-color: rgba(231, 198, 185, 0.93);
    position: absolute;
    height: 65%;
    width: 26%;
    left: 37%;
    top: 12%;
    z-index: 6;
}
.checkout-section{
    position: absolute;
    z-index: 4;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
    transform: translateX(-100vw);
    transition: all 0.5s;
}
.close-modal {
    cursor: pointer;
    display: flex;
    justify-content: end;
    padding: 3%;
}
.close-modal img,
.remove-item {
    width: 2vw;
    height: 2vw;
}
.modal-tittle {
    text-align: center;
    color: var(--color-primary);
    font-size: calc( 1vw + var(--font-size-md) );
    font-family: var(--font-family);
}
.form-container {
    display: flex;
    flex-direction: column;
    padding: 5% 15%;
}
.form-input {
    margin-bottom: 10%;
    padding: 2%;
    border: none;
    background: transparent;
    border-bottom: 1px solid var(--color-primary);
    font-size: var(--font-size-sm);
    box-shadow: none;
    border-radius: 0;
}
.form-control:focus {
    color: var(--color-input);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--color-primary);
    outline: 0;
    box-shadow: none;
}
.container-send {
    display: flex;
    justify-content: center;
    padding: 2%;
}
.btn-send{
    text-transform: uppercase;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-ct);
    border: none;
    padding: 1%;
    border-radius: 5px;
}
.btn-send:focus{
    outline: 0;
}
.register-section{
    transform: translateX(-100vw);
    transition: transform 1s;
}
.login-section{
    transform: translateX(100vw);
    transition: transform 1s;
}
.active_modal{
    transition: transform 0.5s;
    transform: translateX(0);
}
.active_overflow{
    overflow: hidden;
}
.ctn-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.ctn-heading {
    margin: 3% 0;
}
.logo-login{
    display: flex;
    justify-content: center;
}


.cart-row {
    display: flex;
    border-bottom: 1px solid var(--color-primary);
}
.cart-items {
    padding: 0 10%;
}
.shop-item-title {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: var(--font-size-sm);
    color: #333;
    margin-bottom: 15px;
}
.shop-item-image {
    width: 250px;
    height: 250px;
}
.shop-item-details {
    display: flex;
    align-items: center;
    padding: 5px;
}
.shop-item-price {
    flex-grow: 1;
    color: #333;
}
.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cart-header {
    font-weight: bold;
    font-size: var(--font-size-sm);
    color: #333;
}
.cart-column {
    display: flex;
    align-items: center;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}
.cart-item {
    width: 45%;
    justify-content: space-between;
}
.cart-price {
    width: 20%;
    font-size: var(--font-size-sm);
    font-family: var(--font-family-ct);
    color: var(--color-text);
    justify-content: center;
    cursor: pointer;
}
.cart-quantity {
    width: 35%;
    justify-content: end;
}
.cart-item-title {
    color: var(--color-text);
    margin-left: .5em;
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    cursor: pointer;
    transition: color 0.3s;
}
.cart-item-title:hover {
    color: var(--color-primary);
}
.cart-item-ctn {
    width: 80%;
    text-align: center;
}
.cart-item-image {
    width: 20%;
    height: auto;
    border-radius: 10px;
}
.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: var(--font-size-sm);
    font-family: var(--font-family-ct);
    margin-right: 25px;
    border: 1px solid var(--color-primary);
    cursor: pointer;
}
.cart-row:last-child {
    padding-bottom: 1%;
    border-bottom: 2px solid var(--color-primary);
}
.cart-row:last-child .cart-column {
    border: none;
}
.cart-total {
    padding: 0 10%;
    text-align: end;
    margin-top: 5%;
}
.cart-total-title,
.cart-total-price {
    font-size: var(--font-size-sm);
    font-family: var(--font-family);
    padding-right: 6%;
    color: var(--color-primary);
}
.cart-total-title{
    padding-right: 26%;
}
.btn-pay{
    width: 5vw;
    height: 5vw;
    padding: 0.3%;
}
.remove-item {
    cursor: pointer;
}
#checkout-section .container-title{
    padding-top: 10% !important;
}
.send-checkout {
    display: flex;
    justify-content: space-evenly;
    padding: 5% 30%;
}
.btn-pay {
    width: 6vw;
    height: 3vw;
    padding: 0.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .cart-item::before{
    content: "";
    background-color: rgba(231, 198, 185, 0.93);
    position: absolute;
    height: 8vw;
    width: 5vw;
    z-index: -1;
    left: 11%;
    bottom: 32%;
} */